.navbar {
  justify-content: space-between;
  background: #1E284B;
  position: sticky;
  top: 0px;

  .navbar-collapse {
    flex-grow: 0;
  }

}

.navbar .navbar-brand img {
  width: 40px;
}

.btn-navbar {
  margin: 10px;
  text-decoration: none;
  color: white;
}
